html, body {
	
	margin: 0; padding: 0;

}
/* début du header */

#header  {
  width: 100%;
  height: 80px;
  list-style-type : none; 
  margin : 0;
  padding : 15px 0 0 0;
  background-color : white;
  position: fixed;
  top:0px;
  text-align: center;

}

ul#header img {

  width: 63px;
  height: 63px;
  border-radius: 50%;
  float: left;
  margin-left: 2%;
}


ul#header div.ecriture {
  margin-top: 14.4px;
}

ul#header div.ecriture a {
  margin: 0 4%;
  text-decoration : none;
  font-size: 3vw;
  font-family: Arial, Helvetica, sans-serif;
  color: #BEBEBE;
}

/*fin du header */

.contenu {
display: flex;
margin-top: 80px;
}
.contenu .menu_droite {  /*image*/
width: 100%
}
 .contenu .menu_droite img{
  max-width:100%;
  width: 350px;
   float:right;

 }

.menu_gauche {  /*texte*/
  padding-top: 10%;
  margin-left: 5%;
  max-width:100%;
  width: 204%;

}
.menu_gauche p{
color: #888888;
font-size: 65px;
font-family: Arial, Helvetica, sans-serif;
}